.Info {
  margin: 25px auto;
  color: #636366;
  font-family: sans-serif;
}

.Info .Tabs .TabHeader {
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.Info .Tabs .TabHeader .Tab {
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  color: inherit;
}

.Info .Tabs .TabHeader .Tab.active {
  border-bottom: 2px solid #636366;
}

.Info .Tabs .TabContent {
  line-height: 1.5;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
}
