@font-face {
  font-family: 'SakalBharati';
  font-style: 'normal';
  src: url('./fonts/SakalBharati.ttf') format('truetype');
}

@font-face {
  font-family: 'Sampradaya';
  font-style: 'normal';
  src: url('./fonts/Sampradaya.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: #b993d6;
  background: -webkit-linear-gradient(to left, #8ca6db, #b993d6);
  background: linear-gradient(to left, #8ca6db, #b993d6);
}
